# results
results/*
!figures
!zdistris
!modes_and_chi2
# chains
chains/*
!chains/README.md
# outs
outs_jacobian/*
!outs_jacobian/README.md
results_jacobian/*
!results_jacobian/README.md
#
roman_nz_realizations
results_fisher
#
large_files/
n_nbar_ndiff_covndiff/
codes/*.txt
*.pdf
# extra folders
projects/
__pycache__/