# results
results/*
!figures
# chains
chains/*
!chains/README.md
# outs
outs_jacobian/*
!outs_jacobian/README.md
results_jacobian/*
!results_jacobian/README.md
#
roman_nz_realizations
results_fisher
# extra folders
projects/
__pycache__/