outs_jacobian/*
!outs_jacobian/README.md
results_jacobian/*
!results_jacobian/README.md
des_cosmolike_prototype_base/*
*des_cosmolike_prototype_base/_cosmolike_prototype_base.py
projects/
__pycache__/